* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f7fa;
    color: #222;
    line-height: 1.6;
}

/* HEADER */
header {
    text-align: center;
    padding: 70px 20px;
    background: #0d1117;
    color: white;
}

header h1 {
    font-size: 45px;
}

header p {
    opacity: 0.8;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #1d4ed8;
}

/* SECTION */
section {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* ABOUT */
.about p {
    font-size: 17px;
    color: #333;
}

/* SKILLS */
.skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skill-box span {
    background: #2563eb;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

/* PROJECTS */
.projects .project {
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.project h3 {
    font-size: 24px;
}

.project p {
    margin: 10px 0;
    color: #555;
}

.project a {
    margin-right: 15px;
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}

.project a.code {
    color: #16a34a;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    background: #0d1117;
    color: white;
    font-size: 14px;
}

